@model Dictionary<string,SCardModel>
@{
    ViewData["Title"] = "DeleteSeries";
}

<style>
    .selector {
        background-color: #0f0f0f;
        color: white;
        padding: 8px 10px;
        border: 1px solid white;
    }

    .btn {
        text-decoration: none;
        padding: 10px 25px 10px 25px;
        background: red;
        width: 180px;
        text-align: center;
        border: 1px solid black;
        transition: 0.2s;
        color: white;
    }

        .btn:hover {
            transition: 0.2s;
            color: white;
            background: transparent;
            border: 1px solid red;
        }
</style>
<br>
<br>
<div class="DeleteDiv" style="padding:8%;">
    <h1>Select Series to Delete</h1>
    <div class="container">
        <form asp-controller="Home" asp-action="SDelete" method="post">
            <select name="seriesId" class="selector">
                @foreach (var i in Model)
                {
                    <option value="@i.Key">@i.Value.Name</option>
                }
            </select>
            <br>
            <br>
            <button class="btn">Delete Movie</button>
        </form>
    </div>
</div>

