


<link rel="stylesheet" href="~/css/" asp-append-version="true" />

<div class="last-container">
	<div>
		<div class="marquee">
			<span>Lorem ipsum dolor sit amet elit. Animi, aliquid.<span>
		</div>
		<h3>Resize me using this ↑</h3>
	</div>
</div>