
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<br>
<br>
<br>
<div class="wrapper fadeInDown">
    <h2>login form Gose Here</h2>
</div>