
@{
    ViewData["Title"] = "Panel1";
}
<link rel="stylesheet" href="css/Panels.css" asp-append-version="true" />
<div class="ad-container">
    <div class="bg-video">
        <video src="https://firebasestorage.googleapis.com/v0/b/fir-362d4.appspot.com/o/bg-video%20(1).mp4?alt=media&token=159c78e3-b886-4024-88e3-caddbb536ced" autoplay loop muted plays-inline></video>
    </div>
    <div class="panel1">
        <div class="info">
            <h2>Watch Newly Release Movies</h2>
            <p>
                Discover an array of cinematic delights with our latest collection of new movies. Immerse yourself in gripping narratives, breathtaking visuals,
                and outstanding performances that span genres, ensuring there's something for every movie enthusiast.
            </p>
            <a asp-controller="Home" asp-action="Advance" class="btn">Want Some Sauce</a>
        </div>
    </div>
</div>
<br>